@media (max-width: 768px) and (min-width: 480px) {
    .the-tales {
        line-height: 150%;
        font-size: 15px;
    }
    .soft {
        width: 100%;
        font-size: 40px;
        padding: 20px 0 10px 0;
    }
    .navbar {
        display: none;
    }
    .first-title {
        width: 80%;
        margin-bottom: 20px;
    }
    .live-love-laught {
        padding: 15px 0;
    }
    .col-4 {
        width: 80%;
    }
    .col-8 {
        width: 20%;
    }
    .bunny-one,
    .bunny-two,
    .bunny-third,
    .bunny-fourth,
    {
        height: 120px;
    }
}

@media (min-width: 320px) and (max-width: 479px) {
    .bunny,
    .love {
        font-size: 20px;
    }
    .hide-menu {
        display: none;
    }
    .bunny {
        margin-left: 10px;
    }
    .container {
        width: 100%;
    }
    .soft {
        width: 100%;
        font-size: 50px;
        padding: 20px 0 10px 0;
    }
    .first-title {
        width: 90%;
        margin-bottom: 20px;
    }
    .live-love-laught {
        padding: 10px 0;
    }
    .the-tales {
        font-size: 15px;
        height: auto;
        padding-bottom: 40px;
    }
    .bunny-one,
    .bunny-two,
    .bunny-third,
    .bunny-fourth,
    {
        height: 220px;
    }
    footer {
        background-size: 150px;
        height: 80px;
    }
}