/*Nav-bar*/

.container {
    width: 80%;
    margin: 0 auto;
}

.menu {
    background-color: #037f99;
}

.bunnys,
.love {
    font-family: "Baloo Paaji";
    display: inline-block;
    font-size: 30px;
    margin: 10px 3px;
}

.bunnys {
    color: white;
}

.love {
    color: #ff7673;
}

.hide-menu {
    display: none;
}

.links {
    text-align: right;
}

.links li {
    display: inline-block;
    margin: 25px 10px;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}