/*Nav-bar*/

.container {
    width: 80%;
    margin: 0 auto;
}

.menu {
    background-color: #037f99;
}

.bunnys,
.love {
    font-family: "Baloo Paaji";
    display: inline-block;
    font-size: 30px;
    margin: 10px 3px;
}

.bunnys {
    color: white;
}

.love {
    color: #ff7673;
}

.hide-menu {
    display: none;
}

.links {
    text-align: right;
}

.links li {
    display: inline-block;
    margin: 25px 10px;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}


/*BUNNY SOFT (SECTION 2) */

.first-section {
    background-image: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.first-title {
    font-family: "Baloo Paaji";
    color: #ff7673;
    font-size: 80px;
    padding: 50px 0 10px 0;
    margin-left: 20%
}

.first-title {
    background-color: rgba(3, 127, 153, 0.8);
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

.live-love-laught {
    color: white;
    font-family: Arial;
    font-size: 15px;
    padding: 40px 0;
    font-style: italic;
}


/*FOUR BUNNIES (SECTION 3)*/

.four-bunnies {
    background-color: white;
    padding: 15px;
}

.bunny-one,
.bunny-two,
.bunny-third,
.bunny-fourth {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 114px;
}

.img-1 {
    padding: 5px;
}

.the-tales {
    background-color: #037f99;
    text-align: center;
    color: white;
    font-size: 11px;
    padding: 0 7px 38px 8px;
    line-height: 197%;
    height: 250px;
}

.the-tales p {
    font-family: "Baloo Paaji";
    padding: 15px 0 30px 0;
    color: #ff7673;
    font-size: 20px;
}

.bunny-one {
    background-image: url(../img/img-1.jpg);
}

.bunny-two {
    background-image: url(../img/img-2.jpg);
}

.bunny-third {
    background-image: url(../img/img-3.jpg);
}

.bunny-fourth {
    background-image: url(../img/img-4.jpg);
}


/*FOOTER*/

footer {
    text-align: center;
    color: white;
    padding: 40px;
    border-top: 3px #ff7673 solid;
    background-color: #037f99;
}