/*Nav-bar*/

.container {
    width: 80%;
    margin: 0 auto;
}

.menu {
    background-color: #037f99;
}

.bunnys,
.love {
    font-family: "Baloo Paaji";
    display: inline-block;
    font-size: 30px;
    margin: 10px 3px;
}

.bunnys {
    color: white;
}

.love {
    color: #ff7673;
}

.hide-menu {
    display: none;
}

.links {
    text-align: right;
}

.links li {
    display: inline-block;
    margin: 25px 10px;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}


/*BUNNY SOFT (SECTION 2) */

.first-section {
    background-image: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.first-title {
    font-family: "Baloo Paaji";
    color: #ff7673;
    font-size: 80px;
    padding: 50px 0 10px 0;
    margin-left: 20%
}

.first-title {
    background-color: rgba(3, 127, 153, 0.8);
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

.live-love-laught {
    color: white;
    font-family: Arial;
    font-size: 15px;
    padding: 40px 0;
    font-style: italic;
}